.card-back {
   background: url("../images/bg-card-back.png") no-repeat center center / cover;
   position: absolute;
   left: 15%;
   bottom: 50%;
   transform: translateY(110%);
   z-index: 100;

   .card-body {
      position: relative;
   }

   .card-back-details {
      position: absolute;
      inset: 50% 12% auto auto;
      transform: translateY(-50%);

      p {
         line-height: 0;
         color: var(--white);
         letter-spacing: 2px;
      }
   }
}
