@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Space+Grotesk:wght@400;500&display=swap");
:root {
  --blue: hsl(249, 99%, 64%);
  --violet: hsl(278, 94%, 30%);
  --white: hsl(0, 0%, 100%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
  --gradient-direction: left;
  --gradient: linear-gradient(130deg, var(--blue), var(--violet));
}

:is(*, *::after, *::before) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-size: 1.125rem;
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app-container {
  max-height: 100vh;
  width: 100vw;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 25rem auto;
  position: relative;
}

.left-col {
  background: url("./../images/bg-main-desktop.png") no-repeat center/cover;
  min-height: 100vh;
}

.right-col {
  display: grid;
  place-content: center;
}

.card-gen {
  max-width: 21em;
  box-shadow: 2.1px 2.4px 2.7px rgba(0, 0, 0, 0.019), 5.4px 6.2px 6.9px rgba(0, 0, 0, 0.027), 11px 12.6px 14.2px rgba(0, 0, 0, 0.033), 22.6px 25.9px 29.2px rgba(0, 0, 0, 0.041), 62px 71px 80px rgba(0, 0, 0, 0.06);
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
}

.main-form {
  width: 25em;
}
.main-form form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.main-form form label,
.main-form form p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3em;
  color: var(--very-dark-violet);
}
.main-form .form-control {
  display: flex;
  flex-direction: column;
}
.main-form .form-control label {
  display: block;
}
.main-form .form-control input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-violet);
  padding: 0.6em 1em;
  font-size: 1.125rem;
  font-weight: 500;
}
.main-form .form-control input.error {
  border-color: var(--red);
}
.main-form .form-control input:focus {
  outline: none;
}
.main-form .form-control small {
  color: var(--red);
  font-size: 14px;
}
.main-form .expire-date .form-control:nth-of-type(2) {
  margin-left: 0.5em;
}
.main-form .expire-date .form-control:last-of-type {
  margin-left: 1em;
}
.main-form .expire-date .inputs {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}
.main-form .confirm-btn {
  padding: 0.6em 1.5em;
  width: 100%;
  font-size: 1.125rem;
  border-radius: 8px;
  border: 0;
  color: var(--white);
  background-color: var(--very-dark-violet);
  cursor: pointer;
}

.card-front {
  position: absolute;
  left: 10%;
  top: 14%;
}
.card-front .card-body {
  position: relative;
}
.card-front .card-front-header,
.card-front .card-front-footer {
  position: absolute;
  left: 7%;
}
.card-front .card-front-header {
  top: 10%;
  display: flex;
  align-items: center;
  gap: 1em;
}
.card-front .card-front-header .circle {
  display: inline-block;
  border-radius: 100vmax;
}
.card-front .card-front-header .circle.first {
  background-color: var(--white);
  height: 40px;
  width: 40px;
}
.card-front .card-front-header .circle.second {
  height: 20px;
  width: 20px;
  border: 1px solid var(--white);
}
.card-front .card-front-footer {
  bottom: 10%;
  max-width: 90%;
}
.card-front .card-front-footer p {
  color: var(--white);
}
.card-front .card-number {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 0.8em;
}
.card-front .card-holder-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-front .card-holder-details p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.card-back {
  background: url("../images/bg-card-back.png") no-repeat center center/cover;
  position: absolute;
  left: 15%;
  bottom: 14%;
}
.card-back .card-body {
  position: relative;
}
.card-back .card-back-details {
  position: absolute;
  inset: 50% 12% auto auto;
  transform: translateY(-50%);
}
.card-back .card-back-details p {
  line-height: 0;
  color: var(--white);
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */