@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Space+Grotesk:wght@400;500&display=swap");

:root {
   --blue: hsl(249, 99%, 64%);
   --violet: hsl(278, 94%, 30%);
   --white: hsl(0, 0%, 100%);
   --light-violet: hsl(270, 3%, 87%);
   --dark-violet: hsl(279, 6%, 55%);
   --very-dark-violet: hsl(278, 68%, 11%);
   --red: hsl(0, 100%, 66%);
   --gradient-direction: left;
   --gradient: linear-gradient(130deg, var(--blue), var(--violet));
}

:is(*, *::after, *::before) {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Space Grotesk", sans-serif;
}

body {
   font-size: 1.125rem;
   font-weight: 500;
}

img {
   max-width: 100%;
   display: block;
   user-select: none;
}

.app-container {
   max-height: 100vh;
   width: 100vw;
   max-width: 1920px;
   display: grid;
   grid-template-columns: 25rem auto;
   position: relative;
}

.left-col {
   background: url("./../images/bg-main-desktop.png") no-repeat center / cover;
   min-height: 100vh;
}

.right-col {
   display: grid;
   place-content: center;
}

.card-gen {
   max-width: 21em;
   box-shadow: 2.1px 2.4px 2.7px rgba(0, 0, 0, 0.019),
      5.4px 6.2px 6.9px rgba(0, 0, 0, 0.027),
      11px 12.6px 14.2px rgba(0, 0, 0, 0.033),
      22.6px 25.9px 29.2px rgba(0, 0, 0, 0.041),
      62px 71px 80px rgba(0, 0, 0, 0.06);
   background-color: transparent;
   border-radius: 8px;
   overflow: hidden;
}

// layouts
@import "form";
@import "card-front";
@import "card-back";
